<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div class="grid">
            <% for (let individualFoodItem of allFood) { %>
                <article class="card product-item">
                    <header class="card__header">
                        <h1 class="food__name"><%= food.name %></h1>
                    </header>
                    <div class="card__image">
                        <img src="<%= food.imageUrl %>"
                            alt="<%= food.name %>">
                    </div>
                    <div class="card__content">
                        <h2 class="product__price">$<%= food.calories %></h2>
                        <p class="product__description"><%= food.description %></p>
                    </div>
                </article>
            <hr>
            <% } %>
        </div>
    </main>
</body>
</html>